<%- include('partials/header') %>

<form action="/search" method="POST">
<div class="topnav" style="padding: 20px 510px;
border-radius: 10px;
background-color: #696969; margin: 5px;">
  <input type="text" placeholder="Search.." name="search">
</div>
</form>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Togethr</h1>
    <p class="lead">Your Personal Shopping Expert!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>


<%- include('partials/footer') %>


<!-- <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div> -->
